USERNAME="yourusername"
PASSWORD="yourpassword"
SCREENSHOT_PATH="your_path_to_png"
WAITTIME_BEFORE_CLICK = 30
WAITTIME_AFTER_CLICK = 30
MAILGUN_API_URL = "mailgun api url"
MAILGUN_KEY = "mailgun key-xxxxxx"
MAILFROM = "smzdm_checkin <your email>"
MAILTO = "your mailbox"
MAIL_TITLE = "smzdm checkin failed"
USER_AGENT = (
    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4) " +
    "AppleWebKit/517.16 (KHTML, like Gecko) Chrome/29.0.1547.57 Safari/517.16"
)
DEBUG=True
