USERNAME="yourusername"
PASSWORD="yourpassword"
SCREENSHOT_PATH="your_path_to_png"
WAITTIME_BEFORE_CLICK = 30
WAITTIME_AFTER_CLICK = 30
MAILGUN_API_URL = "mailgun api url"
MAILGUN_KEY = "mailgun key-xxxxxx"
MAILFROM = "smzdm_checkin <your email>"
MAILTO = "your mailbox"
MAIL_TITLE = "smzdm checkin failed"
DEBUG=True
